@use '../shared.scss';

.inventoryItem {
    margin-bottom: shared.$outer-margin * 2;
    font-size: 2em;

    .perk {
        margin-top: shared.$small-margin;
        font-size: 0.7em;
        background-color: grey;
        padding: shared.$small-margin;
    }

    img.imageframe {
            border-style: solid;
            border-width: 4px;
            border-color: white;

        &.masterworked {
            border-color: #eade8b;
        }
    }
}
